<!-- start: Main Menu -->
	<div id="sidebar-left" class="span2">
		<div class="nav-collapse sidebar-nav">
			<ul class="nav nav-tabs nav-stacked main-menu">

			<li class="dropmenu">
				<a href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Hostel</span><span class="label"></span></a>
				<ul>
					<li><a class="dropdown-toggle" data-toogle="dropdown" href="/schoolNew/View/hostels/hostelList.php"><i class="icon-file-alt"></i><span class="hidden-tablet"> Hostel list</span></a></li>
					<li><a class="submenu" href="/schoolNew/View/hostels/hostelEntry.php"><i class="icon-file-alt"></i><span class="hidden-tablet"> Hostel entry</span></a></li>
				</ul>
			</li>
<!--
				<li>
					<a href="/school/View/countries/countryList.php">
						<i class="icon-th-list"></i>
						<span class="hidden-tablet"> Country List</span>
					</a>
				</li>
				<li>
					<a href="/school/View/countries/countryEntry.php">
						<i class="icon-plus"></i>
						<span class="hidden-tablet"> Add Country</span>
					</a>
				</li> -->

				<li>
					<a href="/schoolNew/View/hostels/hostelList.php">
						<i class="icon-th-list"></i>
						<span class="hidden-tablet"> Hostel List</span>
					</a>
				</li>
				<li>
					<a href="/schoolNew/View/hostels/hostelEntry.php">
						<i class="icon-plus"></i>
						<span class="hidden-tablet"> Add Hostel</span>
					</a>
				</li>

				<li>
					<a href="/schoolNew/View/students/studentList.php">
						<i class="icon-th-list"></i>
						<span class="hidden-tablet"> Student List</span>
					</a>
				</li>

				<li>
					<a href="/schoolNew/View/subjects/subjectList.php">
						<i class="icon-th-list"></i>
						<span class="hidden-tablet"> Subject List</span>
					</a>
				</li>
				
				<li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Dropdown</span><span class="label label-important"> 3 </span></a>
							<ul>
								<li><a class="submenu" href="submenu.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 1</span></a></li>
								<li><a class="submenu" href="submenu2.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 2</span></a></li>
								<li><a class="submenu" href="submenu3.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 3</span></a></li>
							</ul>	
						</li>
			</ul>
		</div>
	</div>
<!-- end: Main Menu -->
